<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>wordList1</string>
		<key>gridfilename</key>
		<string>wordGrid1.txt</string>
		<key>listfilename</key>
		<string>wordList1.txt</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wordList2</string>
		<key>gridfilename</key>
		<string>wordGrid2.txt</string>
		<key>listfilename</key>
		<string>wordList2.txt</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wordList1</string>
		<key>gridfilename</key>
		<string>wordGrid3.txt</string>
		<key>listfilename</key>
		<string>wordList3.txt</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>wordList1</string>
		<key>gridfilename</key>
		<string>wordGrid4.txt</string>
		<key>listfilename</key>
		<string>wordList3.txt</string>
	</dict>
</array>
</plist>
